---
title: EventLight.ca Website | Projects | Christopher Janzen Winnipeg freelance web designer
---

<section class="project-header">

  <div class="project-intro">
    <h1>EventLight.ca</h1>
    <p>
      Having just received a new logo for their brand, EventLight.ca approached me in early 2014 to design and develop a website that would encapsulate their passion for lighting while showcasing their brand and expertise in the industry.
    </p>
    <p>
      EventLight.ca makes professional event lighting available to everyone without compromising quality or creativity.
    </p>
  </div>

  <div class="project-intro-photo">
    <%= image_tag 'silver-iphone-opt.png' %>
  </div>

</section>
