---
title: Christopher Janzen Winnipeg-based freelance web designer
---
<div class="thankyou">
	<h2 class="serif">Thanks for reaching out!<br>I'll get back to you as soon as I can.</h2>
	<% link_to 'http://www.christopherjanzen.com', :id => 'logo' do %>
  		<%= image_tag 'logo.svg' %>
	<% end %>
</div>
<script>
	svgeezy.init(false, 'png');
</script>